docker.enabled = true

// NOTE: 
// Initialise the values of the params to the preferred default value or to false
params {
	processA_memory = '4.GB'
	processA_cpus = 1
	processA_disk = '20.GB'
	mainScript = 'main.nf'
	config = 'conf/standard.config'
	dataLocation = 's3://lifebit-featured-datasets/pipelines/spammer-nf/input_files'
	fileSuffix = ''
	repsProcessA = 30
	processAWriteToDiskMb = 1
	processATimeRange = "1-2"
	filesProcessA = 1
	processATimeBetweenFileCreationInSecs = 0

	processBTimeRange = "2-3"
	processBWriteToDiskMb = 10

	processCTimeRange = "2-3"
	processDTimeRange = "2-3"
	output = "results"

	echo = false
	cpus = 1
	errorStrategy = 'ignore'
	container = 'quay.io/lifebitai/ubuntu:18.10'
	maxForks = 200
	pre_script = "df -h | head -2"
	post_script = "df -h | head -2"

	queueSize = 200
	executor = 'ignite'

	// google-lifesciences
	gls_usePrivateAddress = false
	gls_sshDaemon = false
	gls_bootDiskSize = '50.GB'
	gls_preemptible = true
	zone = 'us-east1-b'
	network = 'default'
	subnetwork = 'default'

	// values defined in conf/google.config
	gls_copyImage = false
	gls_sshImage = false

	aws_batch_cli_path = '/home/ec2-user/miniconda/bin/aws'
	aws_batch_fetch_instance_type = true
}

// Do not update the order because the values set in params scope will not be overwritten
// Do not attempt to simplify to 
// includeConfig params.config 
// outside of profiles scope, it will fail to update the values of the params
profiles {
	standard {includeConfig params.config}
	azure {includeConfig 'conf/azure.config'}
}

// Do not change order of block, must follow after profiles scope (last section that updates params)
process {
    echo = params.echo
    cpus = params.cpus
    maxForks = params.maxForks
    container = params.container
    errorStrategy = params.errorStrategy

    withName: processA {
        disk = params.processA_disk
	cpus = params.processA_cpus
	memory = params.processA_memory
	}
}

executor {
    name = params.executor
    queueSize = params.queueSize
}

manifest {
    homePage = 'https://github.com/lifebit-ai/spammer-nf'
    description = 'A stampede of processes at your fingertips'
    mainScript = params.mainScript
}

aws.batch.cliPath = params.aws_batch_cli_path
aws.batch.fetchInstanceType = params.aws_batch_fetch_instance_type
