params {
    autopool_auto_scale = true
    autopool_instance_type = 'Standard_D4s_v3'
    autopool_vm_count = 1
    autopool_max_vm_count = 50
}

azure {
    batch {
        pools {
            auto {
                autoScale = params.autopool_auto_scale
                vmType = params.autopool_instance_type
                vmCount = params.autopool_vm_count
                maxVmCount = params.autopool_max_vm_count
            }
        }
    }
}
