// Selectively overwrite the nextflow.config params in the current config for few params
// All other params will inherit the values defined in nextflow.config
// Define only parameters in the parameter scope, do not add other scopes as these are parameterised in nextflow.config

params {
    processA_cpus = 4
    executor = 'local'
}
